body {
    background-color: #edf0fe;
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 700px;
    margin: auto;
}

.header {
    border-bottom: 1px solid #ccc;
    height: 55px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    color: #111111;
    display: block;
    margin: 17px 0;
    text-align: center;
    min-width: 120px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    text-align: center;
    min-height: 100%;
}

.histoire {
    max-width: 750px;
    display: flex;
    margin: auto;
}

.maphoto {
    margin: auto;
}

.connaissances {
    width: 350px;
    margin: auto;
}

.footer {
    background-color: #585858;
    color: #ffffff;
    margin-top: 25px;
    width: 100%;
}

.copyright {
    padding: 15px;
}

.list {
    margin: auto;
    display: inline-block;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.passions {
    width: 700px;
    margin: 15px auto;
}